{{> menu}}

<section class="section columns is-vcentered">
    <div class="column">
        <div class="name title">
            {{placemark.name}}
        </div>
        <div class="field is horizontal">
            <div class="field-body">
                <label>Description: </label>
                <div>{{placemark.description}}</div>
            </div>
            <div class="field-body">
                <label>Longitude: </label>
                <div>{{placemark.location.lng}}</div>
            </div>
            <div class="field-body">
                <label>Latitude: </label>
                <div>{{placemark.location.lat}}</div>
            </div>
            <div class="field-body">
                <label>Category: </label>
                <div>{{placemark.category}}</div>
            </div>
        </div>
        <a href="/placemark/{{placemark._id}}/edit" class="button">Edit (Admin/Creator only)</a>
    </div>
    <div class="column">
    {{> placemark-image}}
    </div>
</section>
