{{> menu active="analytic"}}

<p>Registered Users: {{userlength}}</p>
<p>Placemarks added: {{placemarklength}}</p>
<p>Landscape-Features: {{landscapelength}}</p>
<p>National-monuments: {{nationallength}}</p>
<p>Islands: {{islandlength}}</p>
<p>Towns: {{townlength}}</p>
<p>Cities: {{citylength}}</p>
<p>Forests: {{forestlength}}</p>
<p>Rivers: {{riverlength}}</p>
<p>Bridegs: {{bridgelength}}</p>
<p>Entertainment-Venues: {{entertainmentlength}}</p>
<p>Archaeological-Features: {{archaeologicallength}}</p>
<p>Wonder-of-the-Worlds: {{worldwonderlength}}</p>
<p>Others: {{otherslength}}</p>